<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
</head>
<body style="background-color: white;">
    <img src="https://img.freepik.com/free-vector/hand-drawn-404-error_23-2147746234.jpg?t=st=1725653952~exp=1725657552~hmac=319ec24d0559a27a6f78ca788e5a8a7a1b6e31e2ae447390d35d30974e9d0832&w=740" alt="" style="height: 500px; width: 700px; position: absolute; left: 30%; top: 20%;">
    
</body>
</html>
