{% extends 'forms.html' %}

{% block title %} Login {% endblock %}

{% block body %}

<!-- Login section start -->

<section class="base" id="base-signup">
    <div class="base-content">
        <div class="form">
            <h3>
                Campusstay<br> Login
            </h3>
            
            <hr class="first separator">
            <form method="POST">
                {{ form.hidden_tag() }}

                <div class="password"><h4>Username</h4>{{ form.username }} <hr class="separator"></div>
                <div class="password"><h4>Password</h4>{{ form.password }} <hr class="separator"></div>

                <div class="buttons">
                    {{ form.submit() }}
                </div>

            </form>
        </div>
    </div>
</section>

{% endblock %}
